<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Metazine-Django</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
      <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    </head>
    <body>
      <div class="background">
        <div class="page_container">
          <h1 class="header">Metazine</h1>
          <div class="twelve_grid">
            {% for item in feed_items %}
            <div
              class="card"
              style="grid-column: span {{ item.card_column_width }}"
            >
              <h2><a href="{{ item.link }}">{{ item.title }}</a></h2>
            </div>
            {% endfor %}
          </div>
          <div class="footer"></div>
        </div>
      </div>
    </body>
  </html>
</html>
