<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Metazine-Django</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
      <h1>Latest Feed Items</h1>
      {% for item in feed_items %}
      <div>
        <h2><a href="{{ item.link }}">{{ item.title }}</a></h2>
        <p>Source: {{ item.feed.name }}</p>
        <p>{{ item.description|safe|truncatewords:30 }}</p>
        <small>Published: {{ item.published_date }}</small>
      </div>
      {% endfor %}
    </body>
  </html>
</html>
