<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Metazine-Django</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
      <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    </head>
    <body>
      <div class="background">
        <div class="page_container">
          <h1>Metazine</h1>
          <div class="twelve_grid">
            {% for index_word, item in feed_items %}
            <div class="card" style="grid-area: {{ index_word }};   ">
              <h2><a href="{{ item.link }}">{{ item.title }}</a></h2>
              <p>Source: {{ item.feed.name }}</p>
              <p>{{ item.description|safe|truncatewords:30 }}</p>
              <small>Published: {{ item.published_date }}</small>
            </div>
            {% endfor %}
          </div>
          <div class="footer"></div>
        </div>
      </div>
    </body>
  </html>
</html>
